<!-- views/error404.ejs -->
<!doctype html>
<html>
    <head>
        <title>Product Tracker</title>
        <%- include partials/header.ejs %>
        <link href="css/error.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <%- include partials/nav.ejs %>
            </div>
            <div class="error-box">
                <h3><span class="fa fa-warning"></span> It seems that you are lost, there is nothing here.</h3>
                <img src="../images/lost.gif" alt="404 error gif">
                <p><a class="go-back" href="/home">Go back to the main page</a></p>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </body>
</html>