<!-- views/home.ejs -->
<!doctype html>
<html>
    <head>
        <title>Product Tracker</title>
        <%- include partials/header.ejs %>
        <link href="css/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="container-fluid text-center">
                <div class="page-header ">
                    <%- include partials/nav.ejs %>
                </div>
                <div class="row home-button-wrapper">
                    <div class="col">
                        <a href="/search">
                            <div class="home-search"><span class="home-icon fa fa-search"></span><br><span class="icon-legend">SEARCH PRODUCTS</span></div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/watchlist">
                            <div class="home-watchlist"><span class="home-icon fa fa-book"></span><br><span class="icon-legend">MY WATCHLIST</span></div>
                        </a>
                    </div>
                </div>
            </div>
            <%- include partials/footer.ejs %>
        </div>
    </body>
</html>