<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Product Tracker</title>
    <%- include partials/header.ejs %>
    <link href="css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="text-center">
        <div class="product-tracker-wrapper">
            <img src="../images/logo-pt.png" class="product-tracker-icon" alt="product-tracker-icon">
        </div>
        <h1>Product Tracker</h1>

        <p>Please login or register</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in-alt"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user-plus"></span> Register</a>
    </div>
    <%- include partials/footer.ejs %>
</div>
</body>
</html>
