<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Product Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/profile.css" type="text/css" rel="stylesheet">
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
    </style>
</head>
<body>
<div class="container">
    <div class="container-fluid text-center">
    <div class="page-header ">
        <h1><span class="fa fa-anchor"></span> Product Tracker </h1>
        <%- include partials/nav.ejs %>
    </div>
    <div class="row home-button-wrapper">
        <div class="col">
            <a href="/search">
                <div class="home-search"><span class="home-icon fa fa-search"></span><br><span class="icon-legend">ALL PRODUCTS</span></div>
            </a>
        </div>
        <div class="col">
            <a href="/watchlist">
                <div class="home-watchlist"><span class="home-icon fa fa-book"></span><br><span class="icon-legend">MY WATCHLIST</span></div>
            </a>
        </div>
    </div>
</div>

</div>
</body>
</html>