<nav>
    <a href="/search" class="btn btn-default btn-sm">Search products</a>
    <a href="/watchlist" class="btn btn-default btn-sm">Watchlist</a>
    <a href="/logout" class="btn btn-default btn-sm">Logout</a>
</nav>